extends base

block content
    if errorMessage
        span=errorMessage
    form(action="", method="POST")
        input(name="oldPassword", type="text", placeholder="Old Password")
        input(name="newPassword", type="text", placeholder="New Password")
        input(name="newPasswordConfirm", type="text", placeholder="New Password Confirm")
        input(type="submit", value="Save")